*
!.git*
!.git*/**
!.travis.yml
!gh_rsa.enc
!appveyor.yml
!LICENSE
!Cargo.toml
!rustfmt.toml
!.clang-format
!*Makefile
!*.sublime-project
!*.md
!src
!src/**
!tests
!tests/**
!example
!example/**
!test-data
!test-data/**
